
body {
    background-image: url("background-image.jpeg");
    background-size: cover;/*розтягуємо картинку на весь екран*/
    background-position: center;/*центруємо картинку по вертикалі і горизонталі*/
    background-attachment: fixed;/*фіксуємо артинку на місці, щоб не рухався зі скроломк*/
    background-color: #2c2c2c;/*фон бекграунду поки завантажується картинка*/
    margin: 0;/*занулюємо стандартні відступик*/
    padding: 0;/*занулюємо стандартні відступик*/
}



.hero {
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 40px;
    position: relative;
}
        /*затемнюючий фон шрифта заголовка*/
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.65);
    z-index: 1;
}

.hero >*{
    position: relative;
    z-index: 2;
    color: #2b2b2b;
}

.hero a {
    font-size: 26px;
    display: inline-block;
    margin-top: 10px;
    padding: 12px 18px;
    border-radius: 6px;
    background: #ff6600;
    color: white;
    text-decoration: none;

    transition: 0.3s;

}

.hero a:hover {
    background: #e65c00;
    transform: translateY(-2px);
}

    /*заголовок хіро*/
.hero h1 {
    font-size: 48px;
}

    /*підзаголовок*/
.hero p {
    font-size: 22px;
}

button:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}





.advantages-title {
    color: black;
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
    font-size: 28px;
    margin-top: 40px;
    text-align: center;/*центрує заголовок*/

}

    /*розміщення карток  - чому нас обирають*/
.advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 30px auto;/*ставимо автоматичні відступи по боках*/
}

    /*стилі карток  - чому нас обирають*/
.adv-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-size: 22px;
    font-weight: bold;
}

.adv-card:hover {
    transform: translateY(-5px);
}

    /*===ФУТЕР===*/
footer {
    font-size: 18px;
    background: #1c1c1c;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 60px;
}

    /*кнопка - прокрутка догори*/
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    border: none;
    border-radius: 50%;
    background: #ff6600;
    color: white;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
} 

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollToTopBtn:hover {
    transform: scale(1.1);
}

    /*секція майстрів*/
.masters-section {
    padding: 60px 20px;
    text-align: center;
}

.masters-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}
        /*кнопки фільтрів*/
.filters button {
    border: none;
    border-radius: 5px;
    background: #ff6600;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

    .filters button:hover {
        background: #e65c00;
        transform: translateY(-2px);
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }


    .master-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        max-width: 1100px;
        margin: 0 auto;
    }

        /*картки майстрів*/
    .master-card {
        font-size: 18px;
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.6);
        transition: 0.3s;
        text-align: left;
    }

    .master-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }



    .master-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    }

    .master-card h3 {
        margin-bottom: 10px;
    }

    

    .master-selection {
        font-size: 28px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    }
        /*плавний скрол*/
    html {
        scroll-behavior: smooth;
    }

        /*кнопки фільтру*/
    .call-btn {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 12px;
        border-radius: 6px;
        background: #ff6600;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }
    .call-btn:hover {
        background: #e65c00;
    }

    .master-card:hover {
        transform: translateY(-5px);
        transition: 0.3s;
    }

    .master-card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .rating {
        font-weight: bold;
        font-size: 18px;
    }

    #searchInput {
        width: 100%;
        max-width: 300px;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 16px;
        color: #333;
        margin-bottom: 30px;
    }

    #searchInput:hover {
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0 4px 20px rgba(0,0,0,0.6);
    }


    .join-section {
        padding: 60px 20px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    
         /*кнопка додатипайстра*/
    .add-master-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 20px;
        padding: 14px 24px;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        transition: 0.3s;
    }

    .whatsapp-btn {
        background: #25d366;
    }

    .whatsapp-btn:hover {
        background: #20ba56;
    }

    .viber-btn {
        background-color: #665cac; 
    }

    .viber-btn:hover {
        background-color: #5a5290;
    }





    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .join-list {
        display: inline-block;
        text-align: left;
        line-height: 1.8;
    }

        /*кнопка фаворитів - в обраному стані*/
    .favorite-btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
    }
        /*кнопка фаворитів - не в обраному стані*/
    .favorite-btn {
        background: #444;
        color: white;
    }

    .favorite-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }


        /*поведінка кнопки при наведені курсору : кнопка фаворитів - в обраному стані*/
    .favorite-btn.active {
        background: ff6600;
        color: white;
    }

    /*силі блоку : НАШІ ПАРТНЕРИ*/
    .partners-section {
        padding: 60px 20px;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .partners-title {
        font-size: 2rem;
        margin-bottom: 40px;
        position: relative;
        display: inline-block;
    }

    /* Маленький стильний акцент під заголовком */
    .partners-title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 110%; /* Лінія на половину довжини тексту */
         height: 2px;
        background-color: #0056b3; /* Можна взяти синій колір з логотипу Віконда */
        border-radius: 2px;
    }

    .partners-container {
        display: flex;
        align-items: center;
    }

    .partner-card {
        position: relative;
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
    }



        /* Налаштування самого зображення всередині картки */
    .partner-card img {
        display: block;
        width: 100%;
        border-radius: 15px;
    }

    /* Ефект при наведенні мишкою */
    .partner-card:hover {
        transform: translateY(-5px); /* Картка акуратно піднімається вгору */
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1); /* Тінь стає трохи глибшою */
    }


    .partner-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;

        transform: translateX(-50%);
        background-color: #ff6600;
        color: white;
        padding: 14px 28px;

        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }

        
  

        /* Ефект при наведенні */
    .partner-btn:hover {
        background-color: #e65c00; 
        transform: translateX(-50%) scale(1.05); 
    }

    .seo-text {
        text-align: center;
        line-height: 1.8;
        max-width: 800px;
        padding: 60px 20px;
        margin: 0 auto;
        color: #444;
    }

    .seo-text h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .seo-text p {
        font-size: 18px;
    }


    /*--- стилі блоку відгуків ---*/

         /*--- головна секція: центруємо тект, додаємо відступи ---*/
    .reviews-section {
        padding: 50px 20px;
        text-align: center;
        background-color: rgba(255,255,255,0.65);
        backdrop-filter: blur(1px);

    }

        /*---  ---*/
    .reviews-subtitle {
        color: #141313;
        font-size: 22px;
        margin-bottom: 30px;
    }

        /*---  ---*/
    .reviews-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto 40px;
    }

      /*---  ---*/
    .review-card {
        background-color: #f9f9f9;
        border-radius: 16px;
        padding: 20px;
        width: 100%;
        max-width: 450px;
        text-align: left;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .review-heder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        font-weight: bold;
    }

    .review-autor {
        color: #334;
        font-size: 16px;
    }


    .review-stars {
        color: #ffcc00;
        font-size: 14px;
    }

    .review-data {
        color: #998;
        font-size: 12px;
        align-self: flex-end;
    }

    .leave-review-btn {
        display: inline-block;
        padding: 14px 28px;
        background-color: #25d366;
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(102, 116, 107, 0.3);
        transition: all 0.2s ease;
    }

    .leave-review-btn:hover {
        background-color: #20ba5a;
        transform: rotateY(-2px);
        box-shadow: 0 6px 20px rgba(102, 116, 107, 0.4);
    }

    .leave-review-btn:active {
        transform: rotateY(0);        
    }











            



        




